$colorHeader: #AF006B;
$colorButton: #603285;
$colorTitle: #3C3C3C;
$colorSubtitle: #848484;
$colorGeral: #1D1919; 

$fontTitleSmall: 1.125rem;
$fontTitleLarge: 3.375rem;
$fontButtonSmall: 1rem;
$fontButtonLarge: 2rem;
$fontGeralSmall: 0.75rem;
$fontGeralLarge: 2rem;