.btn {
    position: relative;
    border: none;
    cursor: pointer;
    outline-style: none;

    &__features {
        width: 100%;
        border: none;
        border-radius: 25px;
        padding: 16px 26px;
        background-color: $colorButton;
        font-size: $font16;
        text-transform: uppercase;
        color: white;
        outline-style: none;
        cursor: pointer;
        
        
        @mixin atMedium {
            width: auto;
            font-size: $font20;
        }

        @mixin atLarge {
            width: auto;
            font-size: $font16;
        }
    }

    &__features--centered {
        text-align: center;
    }

    &__features--square {
        width: auto;
        border-radius: 5px;
        text-transform: lowercase;
    }

    &__features--square--centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    &__features--square--size {
        padding: 10px 15px;
    }

    &__square--spacing {
        margin-bottom: 20px;
    }

    &__spacing {
        margin-top: 20px;
        padding-bottom: 10px;

        @mixin atLarge {
            position: absolute;
            width: 98%;
            margin-top: 40vw;
        }

        @mixin atLargeX {
            margin-top: 30vw;
        }
    }
    
  
}