.features {
    position: relative;
    width: 100%;
    margin-top: 23px;

    @mixin atLarge {
        margin-top: 0;
        padding-top: 13vw;
    }

    &__title {
        margin: 20px 0;
        padding: 0;
        text-transform: uppercase;
        font-size: $font18;
        color: $colorTitle;

        @mixin atSmall {
            font-size: $font20;
        }
        
        @mixin atMedium {
            font-size: $font32;
        }

        @mixin atLarge {
            color: white;
        }
    }

    &__subtitle{
        margin: 0;
        padding: 0;
    
        font-size: $font12;
        color: $colorSubtitle;

        @mixin atSmall {
            font-size: $font14;
        }

        @mixin atMedium {
            font-size: $font20;
        }

        @mixin atLarge {
            color: white;
        }
    }

    &__descriptions {
        font-size: $font12;
        color: $colorGeral;

        @mixin atSmall {
            font-size: $font14;
        }

        @mixin atMedium {
            font-size: $font20;
        }
    }
 
    &__img {
        max-width: 122px;
        img {
            width: 122px;
            height: 122px;
        }
        @mixin atLarge {
            max-width: 250px;
            padding-left: 50px;
            img {
                width: 250px;
                height: 250px;
            }
        }
    }

    &__img--round {
        img {
            border: 1px solid black;
            border-radius: 50%;
        }
    }

    &__spacing--section {
        padding-top: 17px;

        @mixin atLarge {
            padding-top: 70px;
        }
    }

    &__clear {
        clear: both;
    }

    &__list--pro {
        height: 200px;
        background-color: $colorBackgroudList;
        border-radius: 25px;
 
        margin-top: 40px;
        overflow: hidden;
        z-index: 99999;

        ul {
            margin-top: 0;
        }
        @mixin atLarge {
            position: absolute;
            top: 50%;
            left: 66%;
            width: 400px;
            height: 400px;
            margin-bottom: 20px;
        }
    }

    &__list--pro--container {
        width: 100%;
        padding-left: 10px;
        background-color: rgba(0,0,0, 0.1);
        margin-bottom: 5px;
        color:#FF1493;
  
        font-size: $font20;

        a {
            margin-bottom: 5px;
        }

        
    }


    &__list--part {
        p:nth-child(n) {
           color: $colorHeader;
        }
    }

  
 
}