.features {
    position: relative;
    width: 100%;
    margin-top: 23px;

    &__title {
        margin: 20px 0;
        padding: 0;

        font-size: $font18;
        color: $colorTitle;

        @mixin atSmall {
            font-size: $font20;
        }
        
        @mixin atMedium {
            font-size: $font32;
        }
    }

    &__subtitle{
        margin: 0;
        padding: 0;
    
        font-size: $font12;
        color: $colorSubtitle;

        @mixin atSmall {
            font-size: $font14;
        }

        @mixin atMedium {
            font-size: $font20;
        }
    }

    &__descriptions {
        font-size: $font12;
        color: $colorGeral;

        @mixin atSmall {
            font-size: $font14;
        }

        @mixin atMedium {
            font-size: $font20;
        }
    }

    &__img {
        max-width: 122px;
        height: 122px;
    }

    &__img--round {
        img {
            border: 1px solid black;
            border-radius: 50%;
        }
    }

    &__spacing--section {
        padding-top: 17px;
    }
}