.page-section {
    padding: 0 0.625rem;
    overflow-y: visible;

    &--pink {
        background: $colorHeader;

        @mixin atLarge {
            background: linear-gradient(-10deg, white 0%, white, 50%, $colorHeader 0%, $colorHeader 100%);
        }
        
    }
}