.row {
    @mixin clearfix{};

    &--small-gutters {
        margin-right: 0px;
    }
   
    &--small-gutters > div {
        padding-right: 10px;
    }
    
    &--6 {
        float: left;
        width: 50%;
    }

    @mixin atLarge {
        &--large-6 {
            float: left;
            width: 50%;
            clear: none;
        }
    }
}